{% extends 'base.html.twig' %}

{% block title %} Eden place {% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Congrats, u r in Eden now !</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <h2>Sorry, u r an Admin?!</h2>
            <h3>Hence come out and do your job :</h3>
            <ul>
                <li><code><a href="{{ path ('this-month-registrations') }}">Users' registered this month</a></code></li>
                <li><code><a href="{{ path ('logout') }}">Unique visits : This week statistics</a></code></li>
                <li><code><a href="{{ path ('logout') }}">Each user visits per day : This week statistics</a></code></li>
                <li><code><a href="{{ path ('birthday-reminder') }}">Birthday reminder</a></code></li>
            </ul>
            <p>Not in a condition yet?</p>
            <p>Be free to <code><a href="{{ path ('logout') }}">logout</a>, bro</code></p>

        {% else %}
        <div>
            <p>Nothing to worry about any more...</p>
            <p>Have fun & relax a lot</p>
            <p>And be free to <code><a href="{{ path ('logout') }}">logout</a>, bro</code></p>
        </div>
        {% endif %}
    </div>
{% endblock %}